{% extends "layout.html" %}
{% block title %}
    Iniciar Sesión
{% endblock title %}

{% block content %}

    <section class="container p-5 w-50 registro">

    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {{form.errors}}
        </div>
    {% endif %}

    {% for message in messages %}
        <div class="alert alert-success" role="alert">
            <ul>
                <li>
                    {{message}}
                </li>
            </ul>
        </div>
    {% endfor %}

        <h2 class="text-center">Iniciar Sesión</h2>

        <form action="{% url "login" %}" method="POST">

            {% csrf_token %}

            <div class="form-group m-4">
              <label for="username">Usuario</label>
              <input type="text" name="username" id="nombre" class="form-control" placeholder="Tu usuario">
            </div>

            <div class="form-group m-4">
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="apellido" class="form-control" placeholder="Tu contraseña">
            </div>

            <div class="d-flex justify-content-between">
                <div class="d-flex flex-column">
                    <a href="{% url 'Registro' %}">Crear Cuenta</a>
                    <a href="{% url 'Registro' %}">¿Olvidaste tu contraseña?</a>
                </div>
                
                <button type="submit" class="btn btn-danger">Iniciar Sesión</button>
            </div>
            
          </form>
    </section>

{% endblock content %}