{% extends "layout.html" %}

{% block title %}
   403 - Permiso Denegado
{% endblock title %}

{% block content %}
<section class="contenido">
    <div class="containter">
        <div class="d-flex align-items-center flex-column">
            <h1 class="display-1 mt-5">Error 403</h1>
            <p>Permiso Denegado</p>
            {% if request.userprofile.tipo_cuenta == "Postulante" %}
                <p>Solo los reclutadores pueden acceder a esta página</p>
            {% else %}
                <p>Solo los postulantes pueden acceder a esta página</p>
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}