<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Hola, {{ usuario }}.</h1>
    <p>Haz click aquí para restablecer tu contraseña:</p>
    <a href="http://{{ request.get_host }}/restablecer-contraseña/reset/?userid={{ id }}&token={{ token }}">Restablecer Contraseña</a>
    <p>Si no has solicitado este correo, por favor ignora este mensaje.</p>
</body>
</html>