{% extends "layout.html" %}
{% block title %}
    Iniciar Sesión
{% endblock title %}

{% block content %}

    <section class="container p-5 w-50 registro">

    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {{form.errors}}
        </div>
    {% endif %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            <ul>
                <li>
                    {{message}}
                </li>
            </ul>
        </div>
    {% endfor %}

        <h2 class="text-center">Restablecer Contraseña</h2>

        <form action="{% url "reset-password" %}" method="POST">

            {% csrf_token %}
            <p>Escribe tu nombre de usuario. Si coincide con un usuario en nuestra base de datos, te enviaremos un e-mail para restablecer tu contraseña.</p>
            <div class="form-group m-4">
              <input type="text" name="username" id="nombre" class="form-control" placeholder="Tu usuario">
            </div>

            <div class="d-flex justify-content-between">
                <div class="d-flex flex-column">
                    <a href="{% url 'login' %}">Volver</a>
                </div>
                
                <button type="submit" class="btn btn-danger">Enviar</button>
            </div>
            
          </form>
    </section>

{% endblock content %}